// sizes variables
$sizes: (
    lg: 22px,
    md: 16px,
    sm: 14px,
    smd: 18px,
    xl: 24px,
    xs: 12px,
    xxl: 32px,
    xxs: 10px,
    xxxl: 40px
    xxxs: 8px,
);

$lg: 22px;
$md: 16px;
$sm: 14px;
$smd: 18px;
$xl: 24px;
$xs: 12px;
$xxl: 32px;
$xxs: 10px;
$xxxl: 40px;
$xxxs: 8px;
