$weights: (
    black: 900,
    bold: 700,
    extra-bold: 800,
    extra-light: 200,
    light: 300,
    medium: 500,
    normal: 400,
    semi-bold: 600,
    thin: 100,
);

$black: 900;
$bold: 700;
$extra-bold: 800;
$extra-light: 200;
$light: 300;
$medium: 500;
$normal: 400;
$semi-bold: 600;
$thin: 100;
