$colors: (
    alabaster: #fcfcfc,
    athens-gray: #f5f6f8,
    bittersweet: #ff6767,
    blue-marguerite: #707ac9,
    dove-gray: #666666,
    emerald: #4ABE7D,
    gallery-light: #ededed,
    gallery-lighter: #f0f0f0,
    gallery: #eaeaea,
    gray: #888888,
    jacksons-purple: #182485,
    silver-light: #c4c4c4,
    silver: #c8c8c8,
    tundora: #444444,
);

$alabaster: #fcfcfc;
$athens-gray: #f5f6f8;
$bittersweet: #ff6767;
$blue-marguerite: #707ac9;
$dove-gray: #666666;
$emerald: #4ABE7D;
$gallery-light: #ededed;
$gallery-lighter: #f0f0f0;
$gallery: #eaeaea;
$gray: #888888;
$jacksons-purple: #182485;
$silver-light: #c4c4c4;
$silver: #c8c8c8;
$tundora: #444444;
